<div [ngClass]="{'modal-open': showModal}" class="modal">
    <div class="modal-box w-full">
        <h3 class="font-bold text-lg">Wähle ein Social aus</h3>
        <div class="overflow-x-auto">
            <table class="table">

                <tr (click)="onClickSelectIcon(icon)" *ngFor="let icon of socialIcons.getSocialIcons()">
                    <td>
                        <div class="flex items-center space-x-3">
                            <div class="avatar">
                                <div class="mask mask-squircle w-12 h-12">
                                    <img [src]="icon.iconUrl" alt="Social Icon"/>
                                </div>
                            </div>
                            <div>
                                <div class="font-bold">{{icon.name}}</div>
                                <div class="text-sm opacity-50">{{icon.preUrl}}</div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="modal-action">
            <button (click)="onClickCloseModal()" class="btn">Abbrechen</button>
        </div>
    </div>
</div>

<div [ngClass]="{'modal-open': showDetails}" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Hier kannst du einen neuen Social Link anlegen</h3>
        <form class="w-full">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Titel</span>
                </label>
                <input [(ngModel)]="newSocial.name" class="input input-bordered" disabled
                       name="title" placeholder="Mein neuer Link" type="text"/>
                <label class="label">
                    <span class="label-text-alt">Mein neuer Link</span>
                </label>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Account</span>
                </label>
                <label class="input-group">
                    <span>{{newSocial.preUrl}}</span>
                    <input [(ngModel)]="newSocial.accountUrl" [placeholder]="newSocial.placeholder" class="input input-bordered"
                           name="accountUrl" type="text"/>
                </label>
            </div>
        </form>
        <div class="modal-action">
            <button (click)="onClickCloseModal()" class="btn">Abbrechen</button>
            <button (click)="onClickBack()" class="btn">Zurück</button>
            <button (click)="onClickSave(newSocial)" class="btn btn-success">Speichern</button>
        </div>
    </div>
</div>

