<div class="card-body">
    <h2 class="card-title">Einstellungen</h2>

    <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">18+ Content Warnung</h2>
            <p>Zeige eine Warnung bevor deine CatchMyLink Seite angezeigt wird</p>
            <div class="card-actions justify-end">
                <input (click)="changeToggleStatus(!linkData.config.nsfw)" [(ngModel)]="linkData.config.nsfw" class="toggle" name="nsfw"
                       type="checkbox"/>
            </div>
        </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">SEO
                <div class="badge badge-secondary badge-outline">In Arbeit</div>
            </h2>
            <p>Wählen Sie den Titel und die Beschreibung, die in Suchmaschinen und sozialen Netzwerken erscheinen
                sollen.</p>
            <form>
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">Titel</span>
                    </label>
                    <input [(ngModel)]="linkData.config.seoTitle" class="input input-bordered w-full max-w-xs" name="seoTitle"
                           placeholder="SEO Titel" type="text"/>
                </div>
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">Beschreibung</span>
                    </label>
                    <input [(ngModel)]="linkData.config.seoDescription" class="input input-bordered w-full max-w-xs"
                           maxlength="160" name="seoDescription"
                           placeholder="SEO Beschreibung (max 160 Zeichen)" type="text"/>
                    <label class="label">
                        <span class="label-text-alt">{{linkData.config.seoDescription.length}} / 160 Zeichen</span>
                    </label>
                </div>
            </form>


            <div class="card-actions justify-end">
                <button (click)="onClickSave()" [ngClass]="{'loading': showLoading}" class="btn">Speichern</button>
            </div>
        </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Dein Account</h2>
            <p>Wählen Sie den Titel und die Beschreibung, die in Suchmaschinen und sozialen Netzwerken erscheinen
                sollen.</p>
            <form>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username <div
                            class="badge badge-secondary badge-outline">In Arbeit</div></span>
                    </label>
                    <label class="input-group">
                        <span>catchmy.link/@</span>
                        <input [(ngModel)]="linkData.config.username" class="input input-bordered" name="username"
                               placeholder="DenHerrRing" type="text"/>
                    </label>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email <div class="badge badge-secondary badge-outline">In Arbeit</div></span>
                    </label>
                    <label class="input-group">
                        <span>Email</span>
                        <input [(ngModel)]="user.email" class="input input-bordered" name="email"
                               placeholder="john@doe.de" type="text"/>
                    </label>
                </div>
                <div class="form-control">
                    <div class="w-1/3 mt-4">
                        <button (click)="onClickChangePassword()" [ngClass]="{'loading': showChangePasswordButtonLoading}"
                                class="btn">Passwort ändern
                        </button>
                    </div>

                </div>
            </form>


            <div class="card-actions justify-end">
                <button (click)="onClickSaveUser()" [ngClass]="{'loading': showLoading}" class="btn">Speichern</button>
            </div>
        </div>
    </div>

</div>
