<div class="modal" [ngClass]="{'modal-open': showModal}">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Hier kannst du einen neuen Social Link anlegen</h3>
        <form class="w-full">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Titel</span>
                </label>
                <input type="text" placeholder="Mein neuer Link" class="input input-bordered"
                       [(ngModel)]="social.name" name="title" disabled/>
                <label class="label">
                    <span class="label-text-alt">Mein neuer Link</span>
                </label>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Account</span>
                </label>
                <label class="input-group">
                    <span>{{social.preUrl}}</span>
                    <input type="text" [placeholder]="social.placeholder" class="input input-bordered" [(ngModel)]="social.accountUrl" name="accountUrl"/>
                </label>
            </div>
        </form>
        <div class="modal-action">
            <button class="btn" (click)="onClickCloseModal()">Abbrechen</button>
            <button class="btn btn-success" (click)="onClickSave(social)">Speichern</button>
        </div>
    </div>
</div>

