<div class="card-body">
    <h2 class="card-title">Design</h2>

    <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Profil</h2>
            <p>Hier kannst du deine Profildaten ändern.</p>

            <form>
                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text">Vorname</span>
                    </label>
                    <input type="text" placeholder="John" class="input input-bordered w-full max-w-xs" [(ngModel)]="linkData.config.firstName" name="firstName"/>
                </div>
                <div class="form-control w-ful">
                    <label class="label">
                        <span class="label-text">Nachname</span>
                    </label>
                    <input type="text" placeholder="Doe" class="input input-bordered w-full max-w-xs" [(ngModel)]="linkData.config.lastName" name="lastName"/>
                </div>
            </form>

            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Profilbild</span>
                </label>
                <input type="file" class="file-input file-input-bordered w-full max-w-xs"
                       (change)="onChangeProfilePicture($event)"
                       name="profilePicture"/>
                <label class="label">
                    <span class="label-text-alt">jpeg, png</span>
                    <span class="label-text-alt">max 1 MB</span>
                </label>
            </div>

            <div class="card-actions justify-end">
                <button class="btn" [ngClass]="{'loading': showLoading}" (click)="onClickSaveProfile()">Speichern</button>
            </div>
        </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Footer Text</h2>
            <p>Hier kannst du dein persönlichen Footer Text ändern.</p>

            <form>
                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text">Footer Text</span>
                    </label>
                    <input type="text" placeholder="Footer Text (max 40 Zeichen)" class="input input-bordered w-full max-w-xs" maxlength="40" [(ngModel)]="linkData.config.footerText" name="footerText"/>
                    <label class="label">
                        <span class="label-text-alt">{{linkData.config.footerText.length}} / 40 Zeichen</span>
                    </label>
                </div>
            </form>

            <div class="card-actions justify-end">
                <button class="btn" [ngClass]="{'loading': showLoading}" (click)="onClickSaveFooter()">Speichern</button>
            </div>
        </div>
    </div>
</div>
