<div class="card-body">

    <div class="flex w-full mb-8">
        <div class="flex-grow text-center">
            <button class="btn">+ Link</button>
        </div>
        <div class="flex-grow text-center">
            <button class="btn">+ Social</button>
        </div>
    </div>

    <div class="divider">Links</div>

    <div class="flex flex-col">
        <ng-container *ngFor="let link of linkData.links">
            <div class="grid flex-grow mb-3">
                <div class="rounded border-1 border-solid border-black p-2 flex shadow-lg">
                    <div class="flex-auto">
                        <h3 class="card-title">{{link.title}}</h3>
                        <p>{{link.url}}</p>
                    </div>
                    <div class="grid flex-col place-items-center">
                        <svg class="w-10 h-6" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="2.5" cy="2.5" r="2.5" fill="#CFCED3"></circle>
                            <circle cx="2.5" cy="9.5" r="2.5" fill="#CFCED3"></circle>
                            <circle cx="2.5" cy="16.5" r="2.5" fill="#CFCED3"></circle>
                            <circle cx="10.6328" cy="2.5" r="2.5" fill="#CFCED3"></circle>
                            <circle cx="10.6328" cy="9.5" r="2.5" fill="#CFCED3"></circle>
                            <circle cx="10.6328" cy="16.5" r="2.5" fill="#CFCED3"></circle>
                        </svg>
                    </div>
                </div>

            </div>
        </ng-container>
    </div>

    <div class="divider">Socials</div>

    <div class="flex flex-col">
        <ng-container *ngFor="let social of linkData.socials">
            <div class="grid flex-grow mb-3">
                <div class="rounded border-1 border-solid border-black p-2 flex shadow-lg">
                    <ng-container>
                        <div class="mx-auto mr-3">
                            <img class="w-12 h-12" [src]="social.iconUrl"/>
                        </div>
                        <div class="flex-auto">
                            <h3 class="card-title">{{social.name}}</h3>
                            <p>{{getSocialUrl(social.preUrl, social.accountUrl)}}</p>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="grid flex-col place-items-center">
                            <svg class="w-10 h-6" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="2.5" cy="2.5" r="2.5" fill="#CFCED3"></circle>
                                <circle cx="2.5" cy="9.5" r="2.5" fill="#CFCED3"></circle>
                                <circle cx="2.5" cy="16.5" r="2.5" fill="#CFCED3"></circle>
                                <circle cx="10.6328" cy="2.5" r="2.5" fill="#CFCED3"></circle>
                                <circle cx="10.6328" cy="9.5" r="2.5" fill="#CFCED3"></circle>
                                <circle cx="10.6328" cy="16.5" r="2.5" fill="#CFCED3"></circle>
                            </svg>
                        </div>
                    </ng-container>
                </div>

            </div>
        </ng-container>
    </div>
</div>
