<div [ngClass]="{'modal-open': showModal}" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Hier kannst du deinen Link bearbeiten</h3>
        <form>
            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Titel</span>
                </label>
                <input [(ngModel)]="link.title" class="input input-bordered w-full max-w-xs" name="title"
                       placeholder="Mein neuer Link" type="text"/>
                <label class="label">
                    <span class="label-text-alt">Mein neuer Link</span>
                </label>
            </div>
            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Url</span>
                </label>
                <input [(ngModel)]="link.url" class="input input-bordered w-full max-w-xs" name="url"
                       placeholder="https://www.meinblog.de" type="text"/>
                <label class="label">
                    <span class="label-text-alt">https://www.meinblog.de</span>
                </label>
            </div>
        </form>
        <div class="modal-action">
            <button (click)="onClickCloseModal()" class="btn">Abbrechen</button>
            <button (click)="onClickSave(link)" class="btn btn-success">Speichern</button>
        </div>
    </div>
</div>
