<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Catch My Link</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <button class="btn btn-ghost" ngxClipboard [cbContent]="getLinkForCopy()" (click)="onClickCopyToClipboard()">
                    catchmy.link/@{{appStorageService.user.username}}
                </button>
            </li>
            <li tabindex="0">
                <a>
                    Share
                    <svg class="fill-current" height="20" viewBox="0 0 24 24" width="20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
                    </svg>
                </a>
                <ul class="p-2 bg-base-100">
                    <li><a>Link kopieren</a></li>
                    <li><a>QR code generieren</a></li>
                </ul>
            </li>
            <li>
                <button class="btn btn-ghost" (click)="appStorageService.logout()">
                    Logout
                </button>
            </li>
        </ul>
    </div>
</div>
