<div class="navbar bg-base-100 z-50">
    <div class="flex-1">
        <img alt="" class="h-10 w-auto" src="./assets/img/icon.png"/>
        <span class="normal-case text-xl font-bold ml-2">CatchMy.Link</span>
    </div>
    <div class="flex-none z-50">
        <ul class="menu menu-horizontal px-1">
            <li>
                <button (click)="onClickCopyToClipboard()" [cbContent]="getLinkForCopy()" class="btn btn-ghost"
                        ngxClipboard>
                    catchmy.link/@{{appStorageService.user.username}}
                </button>
            </li>
            <li tabindex="0">
                <a>
                    Share
                    <svg class="fill-current" height="20" viewBox="0 0 24 24" width="20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
                    </svg>
                </a>
                <ul class="p-2 bg-base-100">
                    <li><a (click)="onClickCopyToClipboard()">Link kopieren</a></li>
                    <li><a (click)="onClickShowQrCodeModal()">QR code generieren</a></li>
                </ul>
            </li>
            <li>
                <button (click)="appStorageService.logout()" class="btn btn-ghost">
                    Logout
                </button>
            </li>
        </ul>
    </div>
</div>
